In [40]:
## Pandas 
## Series y los Dataframes 
import pandas as pd 

pokemon  = pd.read_csv('Pokemon.csv')

# funciones de los dataframes 

# pokemon.shape 
# pokemon.info() informacion 
# pokemon.size numero de celdas 

# pokemon.columns
# pokemon.tail(10)

## Acceder a los elementos de un dataframe 

# pokemon.loc[1:16, 'Name']

# pokemon.iloc[100:150, 1:10]

## Data Wrangling 
pokemon[pokemon['Type 1'] == 'Ghost'].describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.00000,32.000000
mean,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.34375,4.187500
std,209.189218,110.072685,31.685895,29.629687,32.551138,32.561217,26.038414,28.02028,1.693203
min,92.000000,275.000000,20.000000,30.000000,30.000000,30.000000,33.000000,20.00000,1.000000
25%,354.750000,335.000000,45.000000,53.750000,60.000000,58.000000,55.000000,44.00000,3.000000
50%,487.000000,464.500000,59.500000,66.000000,72.500000,65.000000,75.000000,60.50000,4.000000
75%,709.250000,495.750000,64.250000,92.750000,111.000000,96.250000,91.250000,84.25000,6.000000
max,711.000000,680.000000,150.000000,165.000000,145.000000,170.000000,135.000000,130.00000,6.000000